<h1>Barbier - Taille de barbe</h1>
<% data.photos.cities[0]['name'] %>
<% data.photos.homme[2] %>


<div id="text-content">
  <section>
    <%= image_tag data.photos.homme[2], width:"300", height:"300" %>
  </section>
</div>
